
<section class="cakes">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Cake Order Form</h2>
        <div class="titulo">
          <p class="freshly">Order your freshly baked cakes using only the finest quality natural ingredients.</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="favorite">Please choose your favorite cake from among the following:<span>*</span></p>
          </div>
          <div class="col-md-6 col-sm-4">
            <div class="radio">
              <input id="radio-1" name="radio" type="radio" checked>
              <label><img src="assets/img/cake1.jpg" alt="cake1"></label>
            </div>
          </div>
          <div class="col-md-6 col-sm-4">
            <div class="radio">
              <input id="radio-1" name="radio" type="radio" checked>
              <label><img src="assets/img/cake2.jpg" alt="cake1"></label>
            </div>
          </div>

          <!-- Force next columns to break to new line at md breakpoint and up -->
          <div class="w-100 d-none d-md-block"></div>

          <div class="col-md-6 col-sm-4">
            <div class="radio">
              <input id="radio-1" name="radio" type="radio" checked>
              <label><img src="assets/img/cake3.jpg" alt="cake1"></label>
            </div>
          </div>

          <div class="col-md-6 col-sm-4">
            <div class="radio">
              <input id="radio-1" name="radio" type="radio" checked>
              <label><img src="assets/img/cake4.jpg" alt="cake1"></label>
            </div>
          </div>

        </div>
			</div>
		</div>
	</div>

</section>
<section class="formCakes">
<div class="container">
  <form>
    <h2>Order Information</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first">First Name</label>
          <input type="text" class="form-control" placeholder="Name" id="first">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="last">&nbsp;</label>
          <input type="text" class="form-control" placeholder="Last" id="last">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="deliverydate">Delivery date</label>
          <input type="date" class="form-control" id="dlDate" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="deliverydate">Delivery date Time</label>
          <input type="hour" class="form-control" id="dlDate" placeholder="HH:MM AM">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" placeholder="## ### ####">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="Phone">Email</label>
          <input type="email" class="form-control" id="email" placeholder="">
          <small style="color:#ccc; font-size: 10px;">To receive the complete receit</small>
        </div>

      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->

    <div class="row">
      <div class="col-md-12 col-sm-6" >
        <div class="form-group">
          <label for="phone">Address</label>
          <input type="tel" class="form-control" id="phone" placeholder="Street Adress">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-12 col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Street Adress Line 2">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="tel" class="form-control" id="phone" placeholder="City">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Region">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="tel" class="form-control" id="phone" placeholder="Postal / Zip Code">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Country</option>
            <option>Brazil</option>
            <option>Argentina</option>
            <option>USA</option>
            <option>CANADA</option>
          </select>
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--row-->

    <div class="btOrder row col-lg-12">
      <button class="btn btn-primary order">Order</button>
    </div>
  </form>
</div>
</section>
